%h3 Frage erstellen

= simple_form_for [@question_group, question] do |f|
  .row-fluid
    .span5
      = f.input :type, collection: Rapidfire::QuestionForm::QUESTION_TYPES,
        include_blank: false, input_html: { class: "input-xlarge" }, label: "Fragentyp"
      = f.input :question_text, input_html: { class: "input-xlarge" }, label: "Aktuelle Frage:"
      = f.input :answer_options, as: :text, input_html: { rows: 4, class: "input-xlarge" }, label: "Antwort-Optionen (Bitte jede Option in eine extra Zeile)"

    .span6
      %h4
        %strong Zusätzliche Optionen
      %hr

      = f.input :answer_presence, as: :boolean
      .row-fluid
        .span6
          = f.input :answer_minimum_length, label: "Minimale länge der Antwort"
        .span6
          = f.input :answer_maximum_length, label: "Maximale länge der Antwort"
      .row-fluid
        .span6
          = f.input :answer_greater_than_or_equal_to, label: "Antwort größer als oder gleich"
        .span6
          = f.input :answer_less_than_or_equal_to, label: "Antwort ist kleiner als oder gleich"

  %hr
  = f.submit "Erstellen", class: "btn btn-primary btn-large"
